@model WebApplication.ViewModel.Client.ClientViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            @Html.LabelFor(model => model.IsIndividual, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsIndividual)
                @Html.ValidationMessageFor(model => model.IsIndividual)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDNumber)
                @Html.ValidationMessageFor(model => model.IDNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumberDDD)
                @Html.ValidationMessageFor(model => model.PhoneNumberDDD)
                @Html.EditorFor(model => model.PhoneNumberPhone)
                @Html.ValidationMessageFor(model => model.PhoneNumberPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressStreet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressStreet)
                @Html.ValidationMessageFor(model => model.AddressStreet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressNumber)
                @Html.ValidationMessageFor(model => model.AddressNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressDistrict, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressDistrict)
                @Html.ValidationMessageFor(model => model.AddressDistrict)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressCity)
                @Html.ValidationMessageFor(model => model.AddressCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressState, new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EnumDropDownListFor(m => m.AddressState, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AddressState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardName)
                @Html.ValidationMessageFor(model => model.CreditCardName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardNumber)
                @Html.ValidationMessageFor(model => model.CreditCardNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardSecurityNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardSecurityNumber)
                @Html.ValidationMessageFor(model => model.CreditCardSecurityNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardMonth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardMonth)
                @Html.ValidationMessageFor(model => model.CreditCardMonth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardYear)
                @Html.ValidationMessageFor(model => model.CreditCardYear)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
