@model IEnumerable<WebApplication.ViewModel.Model.ListDetailsDeleteModelViewModel>

<table class="table">
        <tr>
            <th>
                @Ajax.ActionLink(Html.DisplayNameFor(model => model.ManufacturerName).ToString(), "SortByManufacturer", new AjaxOptions
                                                                                                           {
                                                                                                               HttpMethod = "GET",
                                                                                                               UpdateTargetId = "ModelList",
                                                                                                               InsertionMode = InsertionMode.Replace
                                                                                                           })
            </th>
            <th>
                @Ajax.ActionLink(Html.DisplayNameFor(model => model.Name).ToString(), "SortByName", new AjaxOptions
                                                                                                           {
                                                                                                               HttpMethod = "GET",
                                                                                                               UpdateTargetId = "ModelList",
                                                                                                               InsertionMode = InsertionMode.Replace
                                                                                                           })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engine)
                </td>
                <td>

                    @Ajax.ActionLink("Details", "ModelDetails", new { id = item.ModelID }, new AjaxOptions
                                                                                                           {
                                                                                                               HttpMethod = "GET",
                                                                                                               UpdateTargetId = "ModelDetails",
                                                                                                               InsertionMode = InsertionMode.Replace
                                                                                                           })
                </td>
            </tr>
        }
</table>